Nmap_MT/ScanList.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Host">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IP" type="xs:string" />
              <xs:element name="ScanResult" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>